.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login-form {
    width: 300px;
    padding: 20px !important;
    border: 1px solid #1890ff;
}

.login-form-button {
    width: 100%;
}

.social-icon {
    float: left;
    width: 41px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.login-form-google-button {
    display: inline-block !important;
    width: 100%;
    background: rgb(223, 74, 50) !important;
    border: 0px !important;
}

.login-form-facebook-button {
    display: inline-block !important;
    width: 100%;
    background: rgb(59, 89, 152) !important;
    border: 0px !important;
}